<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            color: white;
            background-color: green;
        }

        button:hover{
            background-color: chartreuse;
        }
    </style>
</head>
<body>
    <button>Generate Data</button>
</body>
<script>
    let button = document.querySelector("button");
    button.addEventListener("click",async ()=>{
        let a = await fetch("/generate");
        let r = await a.json();
    })
</script>
</html>